<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infant.warmer">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />-->

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/sst_logo_200_100"
        android:label=""
        android:requestLegacyExternalStorage="true"
        android:theme="@style/MyMaterialTheme.Base"
        tools:replace="android:label">

        <activity
            android:name="com.infant.warmer.ScanActivity"

            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infant.warmer.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.infant.warmer.mpchart.RealtimeLineChartActivity"
            android:theme="@style/MyMaterialTheme.Base"/>

        <activity android:name="com.infant.warmer.mpchart.LineChartTime"
            android:theme="@style/MyMaterialTheme.Base"/>
        <activity android:name="com.infant.warmer.mpchart.RealtimeCharteMultiLine"
            android:theme="@style/MyMaterialTheme.Base"/>
        <activity android:name="com.infant.warmer.TableViewMainActivity"
            android:theme="@style/MyMaterialTheme.Base"/>

        <activity
            android:screenOrientation="fullSensor"
            android:name="com.infant.warmer.DeviceList"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.infant.warmer.DataControl"
            android:label="Data Control"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infant.warmer.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/MyMaterialTheme.Base" />
    </application>

</manifest>